.git
.github
.vercel
.sixth
node_modules
vendor
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
.env
.env.*
npm-debug.log
Dockerfile
docker-compose.yml
